@font-face {
  font-family: "LineSeed";
  src: url("./fonts/LINESeedSansTH_Rg.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "LineSeed";
  src: url("./fonts/LINESeedSansTH_Bd.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "LineSeed";
  src: url("./fonts/LINESeedSansTH_XBd.ttf");
  font-weight: 800;
}

* {
  font-family: "LineSeed";
}
